<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WRGT8WL');</script>
<!-- End Google Tag Manager -->



<script>

function sendInfoEvent(artikelnamn, lastid) {
    gtag('event', 'read_article', {
    "artikelnamn": artikelnamn,
    "lastid": lastid,
    });
}

 document.addEventListener("DOMContentLoaded", () => {

    const readArticle1Button = document.getElementById("article1");

    if(readArticle1Button) {

        readArticle1Button.addEventListener("click", () => {
        sendInfoEvent(lastid < 10)
         });

        document.getElementById("article2").addEventListener("click", () => {
        sendInfoEvent(lastid > 15)
        });
    }


});

console.log("try me");

    
</script>
